URxvt.font: xft:Ubuntu Mono:size=12
URxvt.boldFont: xft:Ubuntu Mono:size=12


Xft.hinting: true
Xft.hintstyle: hintfull
Xft.antialias: rgba
Xft.rgba: rgb


URxvt.saveLines: 1000
URxvt.scrollBar: false
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

URxvt.perl-ext-common: default,matcher,tabbedex
URxvt.tabbed.saveLines: 1000
URxvt.title: no
URxvt.tabbed.tabbar-fg: 14
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 0


URxvt.foreground:   #000000
URxvt.background:   #fffed1
URxvt.cursorColor:  #333333

URxvt.color0:       #000000
URxvt.color1:       #000000
URxvt.color2:       #000000
URxvt.color3:       #000000
URxvt.color4:       #000000
URxvt.color5:       #000000
URxvt.color6:       #000000
URxvt.color7:       #000000
URxvt.color8:       #000000
URxvt.color9:       #000000
URxvt.color10:      #000000
URxvt.color11:      #000000
URxvt.color12:      #000000
URxvt.color13:      #000000
URxvt.color14:      #777777
URxvt.color15:      #fffed1
