URxvt.geometry: 80x30

URxvt.font: xft:Monaco:size=11
URxvt.boldFont: xft:Monaco:size=11


Xft.hinting: true
Xft.hintstyle: hintfull
Xft.antialias: rgba
Xft.rgba: rgb


URxvt.saveLines: 1000
URxvt.scrollBar: false
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

URxvt.perl-ext-common: default,matcher,tabbedex
URxvt.tabbed.saveLines: 1000
URxvt.tabbed.tab-bg: 8
URxvt.title: no

#define base00 #151515
#define base01 #202020
#define base02 #303030
#define base03 #505050
#define base04 #b0b0b0
#define base05 #d0d0d0
#define base06 #e0e0e0
#define base07 #f5f5f5
#define base08 #ac4142
#define base09 #d28445
#define base0A #f4bf75
#define base0B #90a959
#define base0C #75b5aa
#define base0D #6a9fb5
#define base0E #aa759f
#define base0F #8f5536

URxvt.foreground:   #d0d0d0
URxvt.background:   #151515
URxvt.cursorColor:  #d0d0d0
URxvt.color0:       #151515
URxvt.color1:       #ac4142
URxvt.color2:       #90a959
URxvt.color3:       #f4bf75
URxvt.color4:       #6a9fb5
URxvt.color5:       #aa759f
URxvt.color6:       #75b5aa
URxvt.color7:       #d0d0d0
URxvt.color8:       #505050
URxvt.color9:       #d28445
URxvt.color10:      #202020
URxvt.color11:      #303030
URxvt.color12:      #b0b0b0
URxvt.color13:      #e0e0e0
URxvt.color14:      #8f5536
URxvt.color15:      #f5f5f5
